/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



 /* Global styles */
html, body {
    margin: 0;
    padding: 0;
    background: #121212; /* Dark background */
    color: #ffffff; /* Light grey color for text */
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 1.5;
    

}
.banner {
    text-align: center;
    padding: 20px 0;
    font-size: 35px;
    font-weight: bold;
    background-color: #000000;
    margin-bottom: 20px;
    
}

a:visited {
    color: #ffffff; /* This makes the link color inherit the color from its parent, effectively overriding the default purple color for visited links */
}

/* Flex container for buttons */
.buttons-container {
    display: flex;
    gap: 10px; /* Adjust the space between buttons */
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    padding: 5px; /* Add padding around the container */
    border-radius: 8px; /* Rounded corners for the container */
    background-color: rgba(0, 0, 0, 0.1); /* Semi-transparent white background */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

.sticky-top-btn {
    position: static;
    background-color: #2d2e2d; /* Blue background */
    color: #ffffff; /* White text */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 20px; /* Padding for larger click area */
    text-decoration: none; /* No underline */
    font-size: 16px; /* Text size */
    transition: background-color 0.3s, transform 0.2s; /* Smooth background color and transform transition on hover */
}

.sticky-top-btn:hover, .sticky-top-btn:focus {
    background-color: #14b30e; /* Darker blue on hover/focus */
    transform: translateY(-2px); /* Slight lift effect on hover/focus */
    outline: none; /* Remove outline on focus for aesthetics */
}


input[type="submit"] {
    font-size: 20px; /* Larger font size */
    padding: 15px 30px; /* Larger padding */
    cursor: pointer;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .buttons-container {
        flex-direction: column; /* Stack buttons vertically on small screens */
        right: 10px; /* Adjust position for better visibility */
        bottom: 10px; /* Adjust position for better visibility */
        top: auto; /* Override top positioning */
    }
}